nav {

}

nav > div {
	display: inline-block;
	margin: 5px 10px;
}

nav > div > section {
	/*visibility: hidden;
	opacity: 0;*/
	position: absolute;
	/*-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/
}

nav > div:hover > section {
	/*opacity: 1;
	visibility: visible;*/
}

nav > div > section > a {
	visibility: hidden;
	display: block;
	height: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

nav > div:hover > section> a {
	visibility: visible;
	height: 16px;
}